@model PTracking.Models.Employee

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmployeeTable">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectsAssigned" class="control-label"></label>
                <input asp-for="ProjectsAssigned" class="form-control" />
                <span asp-validation-for="ProjectsAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientsAssigned" class="control-label"></label>
                <input asp-for="ClientsAssigned" class="form-control" />
                <span asp-validation-for="ClientsAssigned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeZone" class="control-label"></label>
                <input asp-for="TimeZone" class="form-control" />
                <span asp-validation-for="TimeZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisctinctRole" class="control-label"></label>
                <input asp-for="DisctinctRole" class="form-control" />
                <span asp-validation-for="DisctinctRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamLead" class="control-label"></label>
                <input asp-for="TeamLead" class="form-control" />
                <span asp-validation-for="TeamLead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <input asp-for="TeamId" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectManager" class="control-label"></label>
                <input asp-for="ProjectManager" class="form-control" />
                <span asp-validation-for="ProjectManager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <input asp-for="Availability" class="form-control" />
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="icon" class="control-label"></label>
                <input asp-for="icon" class="form-control" />
                <span asp-validation-for="icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PTO" class="control-label"></label>
                <input asp-for="PTO" class="form-control" />
                <span asp-validation-for="PTO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
